@import "./rest.css";
@import "1px.css";
/*@import "./adaptation.css";*/

@media screen and (min-width: 320px) {html{font-size: 42.6667px;}}
@media screen and (min-width: 360px) {html{font-size: 48px;}}
@media screen and (min-width: 375px) {html{font-size: 50px;}}
@media screen and (min-width: 400px) {html{font-size: 53.3333px;}}
@media screen and (min-width: 414px) {html{font-size: 55.2px;}}
@media screen and (min-width: 440px) {html{font-size: 58.6667px;}}
@media screen and (min-width: 480px) {html{font-size: 64px;}}
@media screen and (min-width: 520px) {html{font-size: 69.3333px;}}
@media screen and (min-width: 560px) {html{font-size: 74.6667px;}}
@media screen and (min-width: 600px) {html{font-size:80px;}}
@media screen and (min-width: 640px) {html{font-size:100px;}}
@media screen and (min-width: 680px) {html{font-size:100px;}}
@media screen and (min-width: 720px) {html{font-size:100px;}}
@media screen and (min-width: 760px) {html{font-size:100px;}}
@media screen and (min-width: 800px) {html{font-size:100px;}}
@media screen and (min-width: 960px) {html{font-size:100px;}}


@font-face {font-family: "iconfont";
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome, firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    height: 1rem;
    font-size: 0.35rem;
    color: #fff;
    background-color: #66ccff;
    display: flex;
    position: relative;
}
 .header .left {
    width: 1rem;
    padding-left: 0.2rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.link i {
    font-size: inherit;
    color: #fff;
}
 .header .center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .right {
    width: 1rem;
    padding-right: 0.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.main {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

.btn-full{
    height: 0.75rem;
    line-height: 0.75rem;
    width: 94%;
    margin: 0.2rem 3%;
    font-size: 0.35rem;
    text-align: center;
    border-radius: 0.1rem;
    color: #656b79;
    background-color: #fff;
    border: 1px solid #dddddd;
}

.v-title {
    height: 0.5rem;
    padding: 0 0.2rem 0 0.24rem;
    font-size: 0.3rem;
    margin: 0.2rem;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.v-title:before {
    content: "";
    top: 15%;
    left: 0;
    width: 0.1rem;
    height: 70%;
    border-radius: 0.1rem;
    background-color: #ff6600;
    position: absolute;
}

